<%= link_to 'All posts', root_path, class: 'link'  %>

<div class='post'>
    <p class="post--title">
        <%= post.title %>
    </p>
    <p class="post--content">
        <%= post.content %>
    </p>
    <hr/>
    <div class="post--comments .js-post--comments">
        <h4>Comments</h4>

        <% if comments.blank? %>
            <p>No comments</p>
        <% end %>

        <% comments.each do |comment| %>
            <%= render_component('post-comment', comment: comment) %>
        <% end %>
    </div>

    <%= render_component('create-post-comment') %>
</div>
